<h2><%= @task.tittle %></h2>
<p><%= @task.details %></p>
<p>Completed: <%= @task.completed %></p>

<p><%= link_to "Back to Tasks", tasks_path%></p>
<p><%= link_to "Edit", edit_task_path%></p>

<%= link_to "Delete",
  task_path(@task),
  data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
%>